In [ ]:
import numpy as np

In [ ]:
pip install mysql-connector-python

In [ ]:
import mysql.connector
from mysql.connector.constants import ClientFlag

In [ ]:
config = {
    'user': 'root',
    'password': 'disneyuniversal',
    'host': '34.130.244.113',
    'client_flags': [ClientFlag.SSL],
    'ssl_ca': 'server-ca.cer',
    'ssl_cert': 'client-cert.cer',
    'ssl_key': 'client-key.cer'
}

# now we establish our connection
cnxn = mysql.connector.connect(**config)

In [ ]:
cursor = cnxn.cursor()  # initialize connection cursor
cursor.execute('CREATE DATABASE testdb')  # create a new 'testdb' database
cnxn.close()  # close connection because we will be reconnecting to testdb

In [ ]:
config['database'] = 'testdb'  # add new database to config dict
cnxn = mysql.connector.connect(**config)
cursor = cnxn.cursor()

Let's create a table from out HP information

In [1]:
import pandas as pd

In [2]:
hp = pd.read_csv('HP_OHE_3class.csv')
hp = hp.drop('Unnamed: 0',axis=1)

In [3]:
hp.columns=['month', 'day', 'year', 'hour', 'minute', 'holiday', 'dayOfTheWeek',
       'Pandemic', 'temperature', 'humidity', 'pressure',
       'heavy_intensity_rain', 'light_rain', 'broken_clouds', 'moderate_rain',
       'mist', 'overcast_clouds', 'clear_sky', 'scattered_clouds',
       'thunderstorm_with_rain', 'few_clouds', 'thunderstorm', 'shower_rain',
       'very_heavy_rain', 'fog', 'haze', 'thunderstorm_with_light_rain',
       'light_intensity_drizzle', 'HP_Forbidden_clean']

In [ ]:
cursor.execute("CREATE TABLE forbiden_journey_test5 ("
               "month FLOAT(30,30),"
               "day FLOAT(30,30),"
               "year FLOAT(30,30),"
               "hour FLOAT(30,30),"
               "minute FLOAT(30,30),"
               "holiday FLOAT(30,30),"
               "dayOfTheWeek FLOAT(30,30),"
               "Pandemic FLOAT(30,30),"
               "temperature FLOAT(30,30),"
               "humidity FLOAT(30,30),"
               "pressure FLOAT(30,30),"
               "heavy_intensity_rain FLOAT(30,30),"
               "light_rain FLOAT(30,30),"
               "broken_clouds FLOAT(30,30),"
               "moderate_rain FLOAT(30,30),"
               "mist FLOAT(30,30),"
               "overcast_clouds FLOAT(30,30),"
               "clear_sky FLOAT(30,30),"
               "scattered_clouds FLOAT(30,30),"
               "thunderstorm_with_rain FLOAT(30,30),"
               "few_clouds FLOAT(30,30),"
               "thunderstorm FLOAT(30,30),"
               "shower_rain FLOAT(30,30),"
               "very_heavy_rain FLOAT(30,30),"
               "fog FLOAT(30,30),"
               "haze FLOAT(30,30),"
               "thunderstorm_with_light_rain FLOAT(30,30),"
               "light_intensity_drizzle FLOAT(30,30),"
               "HP_Forbidden_clean FLOAT(30,30) )")

cnxn.commit()  # this commits changes to the database

In [ ]:
# first we setup our query
query = ("INSERT INTO forbiden_journey_test5 (month, day,year, hour, minute, holiday, dayOfTheWeek, Pandemic, temperature, humidity, pressure,heavy_intensity_rain,light_rain,broken_clouds,moderate_rain,mist,overcast_clouds,clear_sky,scattered_clouds,thunderstorm_with_rain,few_clouds,thunderstorm,shower_rain,very_heavy_rain,fog,haze,thunderstorm_with_light_rain,light_intensity_drizzle,HP_Forbidden_clean) "
         "VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,$s,$s)")

In [ ]:
# then we execute with every row in our dataframe
cursor.executemany(query, list(hp.to_records(index=False)))
cnxn.commit()  # and commit changes

In [ ]:
df = pd.read_csv('Space_Corrected.csv')

In [ ]:
cursor.execute("CREATE TABLE space_missions ("
               "company_name VARCHAR(255),"
               "location VARCHAR(255),"
               "datum DATETIME,"
               "detail VARCHAR(255),"
               "status_rocket VARCHAR(255),"
               "rocket FLOAT(6,2),"
               "status_mission VARCHAR(255) )")

cnxn.commit()  # this commits changes to the database

In [ ]:
df = df.drop('Unnamed: 0',axis=1)
df = df.drop('Unnamed: 0.1',axis=1)
df

In [ ]:
# first we setup our query
query = ("INSERT INTO space_missions (company_name, location, datum, detail, status_rocket, rocket, status_mission) "
         "VALUES (%s, %s, %s, %s, %s, %s, %s)")

# then we execute with every row in our dataframe
cursor.executemany(query, list(df.to_records(index=False)))
cnxn.commit()  # and commit changes

In [ ]:
pip install pandas-gbq

In [4]:
from pandas.io import gbq
hp.to_gbq(destination_table='Dataset_for_testing.waiting_times',
         project_id='proyecto-ocr-293616',
         if_exists='replace')

100%|██████████| 1/1 [00:00<00:00, 2832.08it/s]

Query the table

In [ ]:
pip install --upgrade 'google-cloud-bigquery[bqstorage,pandas]'

In [ ]:
%load_ext google.cloud.bigquery

In [5]:
import pandas as pd
from pandas.io import gbq

query="""SELECT * FROM `proyecto-ocr-293616.Dataset_for_testing.waiting_times` LIMIT 1000"""
hp_sql = gbq.read_gbq(query,project_id="proyecto-ocr-293616")
hp_sql.head()

,month,day,year,hour,minute,holiday,dayOfTheWeek,Pandemic,temperature,humidity,...,thunderstorm_with_rain,few_clouds,thunderstorm,shower_rain,very_heavy_rain,fog,haze,thunderstorm_with_light_rain,light_intensity_drizzle,HP_Forbidden_clean
0,0.636364,0.966667,0.0,0.608696,0.4,0.0,0.0,0.0,0.721791,0.740741,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
1,0.636364,0.966667,0.0,0.608696,0.6,0.0,0.0,0.0,0.721791,0.740741,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
2,0.636364,0.966667,0.0,0.608696,0.8,0.0,0.0,0.0,0.711940,0.679012,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
3,0.636364,0.966667,0.0,0.608696,1.0,0.0,0.0,0.0,0.723881,0.679012,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
4,0.636364,0.966667,0.0,0.652174,0.0,0.0,0.0,0.0,0.724179,0.679012,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0